@import "tailwindcss";

/* html2canvas FIX for Tailwind OKLCH */
.ticket-capture,
.ticket-capture * {
  background-color: transparent !important;
  color: #000 !important;
  border-color: #000 !important;
  box-shadow: none !important;
}
